<!doctype html>
<html lang="en">

<head>
    {% include 'includes/header.html' %}
</head>

<body>
    Hello, I'm here!
    <div id='tweets'>
        Loading...
    </div>
    {% include 'includes/footer.html' %}


    <script>
        const tweetsElement = document.getElementById('tweets')

        const xhr = new XMLHttpRequest()
        const method = "GET"
        const url = "/tweets"
        const responsetype = "json"

        const handleDidLike = (tweetId, currentCount) => {
            console.log(tweetId, currentCount)
        }

        const LikeBtn = (tweet) => {
            return "<button class='btn btn-primary btn-sm' onclick=handleDidLike(" + tweet.id + "," + tweet
                .likes +
                ") > " + tweet.likes + " Likes </Button>"
        }

        xhr.responseType = responsetype
        xhr.open(method, url)
        xhr.onload = function () {

            const serverResponse = xhr.response
            console.log(xhr.response)
            const listedTweets = serverResponse.response
            console.log(listedTweets)

            var tweets = ""
            listedTweets.map(tweet => {
                var currentTweet = "<div class='mb-4 tweet' id='tweet-" + tweet.id + "'>" +
                    "<p>" + tweet.content + "</p><div class='btn-group'>" + LikeBtn(tweet) + "</div></div>"
                tweets += currentTweet
            })
            tweetsElement.innerHTML = tweets
        }
        xhr.send()
    </script>
</body>

</html>